//编辑器头部、菜单、操作栏高度
@headSize: 60px;
@menuSize: 275px;
@operatorSize: 275px;

@ibc: #dcdfe6; //边框色
@ibl: #ebeef5; //边框色（淡）
@itc: #314659; //字体颜色
@icc: rgba(0, 0, 0, 0.45); //图标颜色
@boxShadowColor: #f0f1f2; //阴影颜色
@primary: #409eff; //基础色

.editor {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border: solid 20px #f0f2f5;

  .editor-head,
  .editor-body,
  .editor-menu,
  .editor-operator {
    position: absolute;

    //滚动条样式
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 1em;
      background-color: rgba(black, 0.15);
    }

    &::-webkit-scrollbar-track {
      border-radius: 1em;
      background-color: transparent;
    }
  }

  .editor-menu {
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    left: 0;
    width: @menuSize;
    background-color: #fff;
    padding: 20px;
    border: solid 1px @ibc;

    .editor-menu-item {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 50px;
      border: solid 2px @ibc;
      padding: 20px 16px;
      margin-bottom: 20px;
      box-sizing: border-box;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      &:hover {
        border-color: @primary;
        cursor: move;
      }
    }

    .editor-menu-item-name {
      position: absolute;
      top: -2px;
      left: -2px;
      padding: 2px 16px;
      background-color: @primary;
      color: white;
      font-size: 12px;
    }
  }

  .editor-operator {
    top: 0;
    right: 0;
    bottom: 0;
    width: @operatorSize;
    padding: 20px;
    background-color: #fff;
    border: solid 1px @ibc;
    box-sizing: border-box;
  }

  .editor-body {
    display: flex;
    justify-content: center;
    top: 0;
    right: @operatorSize;
    bottom: 0;
    left: @menuSize;
    padding-top: @headSize + 20px;
    padding-bottom: 300px;
    background-color: @ibl;
    overflow-y: auto;
  }

  .editor-head {
    display: flex;
    justify-content: center;
    top: 0;
    right: @operatorSize;
    left: @menuSize;
    height: @headSize;
    padding: 10px 0;
    z-index: 1;

    .editor-head-btn {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgba(64, 158, 255);
      color: white;
      width: 60px;
      height: 60px;
      transition: all 0.1s linear;
      cursor: pointer;
      user-select: none;

      &:first-child {
        border-radius: 5px 0 0 5px;
      }
      &:last-child {
        border-radius: 0 5px 5px 0;
      }

      &:not(:first-child) {
        &::after {
          content: '';
          position: absolute;
          left: -0.5px;
          width: 1px;
          top: 0;
          bottom: 0;
          background-color: rgba(255, 255, 255, 0.5);
        }
      }

      &:hover {
        background-color: white;
        color: @primary;
      }

      &:active {
        background-color: mix(@primary, white, 20%);
      }
    }
  }

  .editor-container {
    position: relative;
    background-color: #fff;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: dashed 1px @primary;
      pointer-events: none;
    }

    .editor-block {
      position: absolute;
      background-color: #fff;
      user-select: none;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        cursor: move;
      }
    }

    .editor-block-focus {
      &::before {
        content: '';
        position: absolute;
        @size: 4px;
        top: -@size;
        right: -@size;
        bottom: -@size;
        left: -@size;
        border: dashed 1px @primary;
      }
    }
  }

  &.editor-preview {
    .editor-container {
      &::before {
        display: none;
      }
      .editor-block {
        &::after {
          display: none;
        }
      }
    }
  }
}

/**
.editor {
  height: 540px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  .editor-head,
  .editor-content,
  .editor-operator {
    display: flex;
    flex-direction: column;

    //滚动条样式
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 1em;
      background-color: rgba(black, 0.15);
    }

    &::-webkit-scrollbar-track {
      border-radius: 1em;
      background-color: transparent;
    }
  }

  .editor-menu {
    width: @menuSize;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    border-right: solid 1px @ibc;
    padding: 20px;
    box-sizing: border-box;

    .editor-menu-item {
      border: solid 2px @ibc;
      margin-bottom: 20px;
      position: relative;
      padding: 30px 10px 0 10px;
      text-align: center;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
      }

      &:hover {
        border-color: @primary;
        cursor: pointer;
      }

      .editor-menu-item-name {
        position: absolute;
        top: -2px;
        left: -2px;
        background-color: @primary;
        color: white;
        font-size: 12px;
        line-height: 2em;
        padding: 0 20px;
      }
    }
  }

  .editor-content {
    flex-grow: 1;
    background-color: @ibl;
    justify-content: flex-start;

    .editor-content-head {
      display: flex;
      justify-content: center;
      align-items: center;
      height: @headSize;
      margin: 10px 0;

      .editor-content-head-btn {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.3);
        color: white;
        width: 60px;
        height: 60px;
        transition: all 0.1s linear;
        cursor: pointer;
        user-select: none;

        &:not(:first-child) {
          &::after {
            content: '';
            position: absolute;
            left: -0.5px;
            width: 1px;
            top: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.5);
          }
        }

        &:hover {
          background-color: white;
          color: @primary;
        }

        &:active {
          background-color: mix(@primary, white, 20%);
        }
      }
    }

    .editor-content-body {
      height: 500px;
      overflow-y: auto;

      .editor-container {
        background-color: #fff;
        position: relative;
        margin: auto;

        .editor-block {
          position: absolute;
          user-select: none;

          &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
          }

          &.editor-block-focus {
            &::before {
              content: '';
              position: absolute;
              @size: 4px;
              top: -@size;
              right: -@size;
              bottom: -@size;
              left: -@size;
              border: dashed 1px @primary;
            }
          }
        }
      }
    }
  }

  .editor-operator {
    width: @operatorSize;
    background-color: #c9f357;
  }
}
*/
