.editorscheme {
  position: relative;
  height: 540px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-y: scroll;
  padding: 20px 29px;
}
.editorscheme::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.editorscheme::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.15);
}
.editorscheme::-webkit-scrollbar-track {
  border-radius: 1em;
  background-color: transparent;
}
.editorscheme .scheme-card {
  width: 275px;
  margin: 6px;
}
.editorscheme .scheme-pagination {
  position: fixed;
  bottom: 80px;
}
