.editorscheme {
  height: 540px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: scroll;
  padding: 20px;

  .scheme-card {
    width: 275px;
    margin: 6px;
  }
}
