.editorscheme {
  position: relative;
  height: 540px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // align-items: center;
  // justify-content: space-around;
  align-content: flex-start;
  overflow-y: scroll;
  padding: 20px 29px;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background-color: rgba(black, 0.15);
  }

  &::-webkit-scrollbar-track {
    border-radius: 1em;
    background-color: transparent;
  }

  .scheme-card {
    width: 270px;
    margin: 6px;
  }
  .scheme-pagination {
    position: fixed;
    bottom: 80px;
  }
}
